/*===================
animation01
====================*/

.animation01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation01 div {
  width: 20%;
  height: 100%;
  animation: animation01 0.275s ease-in forwards;
  transform-origin: bottom;
  opacity: 0;
}

.animation01 div:nth-child(1) {
  background-color: #03fcb1; /*azul claro*/
  animation-delay: 0.4s;
}

.animation01 div:nth-child(2) {
  background-color: #befc03; /*verde claro*/ 
  animation-delay: 0.3s;
}

.animation01 div:nth-child(3) {
  background-color: #fc9d03; /*naranja claro*/
  animation-delay: 0.2s;
}

.animation01 div:nth-child(4) {
  background-color: #e03e1d; /*naranja-rojo*/
  animation-delay: 0.1s;
}

.animation01 div:nth-child(5) {
  background-color: #ab0712; /*rojo inetenso*/
}

@keyframes animation01 {
  0% {
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation02
====================*/

.animation02 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.animation02 div {
  position: absolute;
  width: 0;
  height: 0;
  animation: animation02 1.0s ease-in-out 1.0s forwards;
  opacity: 0;
}

.animation02 div:nth-child(1) {
  top: 0;
  left: 0;
  border-top: 100vh solid transparent;
  border-right: 100vw solid #e036ca; /*rosa intenso*/
  transform-origin: bottom right;
}

.animation02 div:nth-child(2) {
  right: 0;
  bottom: 0;
  border-bottom: 100vh solid transparent;
  border-left: 100vw solid #e036ca; /*default*/
  transform-origin: top left;
}

@keyframes animation02 {
  0% {
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation07
====================*/

.animation07 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.5vw;
  height: 2.5vw;
}

.animation07 .circle {
  position: absolute;
  top: -.2vw;
  left: -.2vw;
  transform-origin: center;
  width: 2.5vw;
  height: 2.5vw;
  animation: animation07_circle 0.2s ease-in 2.19s forwards;
}

.animation07 .circle_element01 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5vw;
  height: 2.5vw;
  border: 0.2vw solid #a18a66;
  background-color: #fff;
  border-radius: 50%;
  animation: animation07_circle_element01 0.2s ease-in 2.0s forwards;
  transform-origin: center;
  opacity: 0;
}

@keyframes animation07_circle {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1.4, 1.4, 1);
    opacity: 0;
  }
}

@keyframes animation07_circle_element01 {
  0% {
    transform: scale3d(0, 0, 1);
    opacity: 1;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.animation07 .line_wrapper {
  position: absolute;
  opacity: 0;
}

.animation07 .line {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c599ff;
}

/*===========
line01
===========*/

.animation07 .line_wrapper01 {
  top: -95%;
  left: 45%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line01 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line02
===========*/

.animation07 .rotate60 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 33%;
  width: 100%;
  height: 100%;
  transform: rotate(60deg);
}

.animation07 .line_wrapper02 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line02 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line03
===========*/

.animation07 .rotate120 {
  display: block;
  position: absolute;
  top: 36.5%;
  left: 0%;
  width: 100%;
  height: 100%;
  transform: rotate(120deg);
}

.animation07 .line_wrapper03 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line03 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line04
===========*/

.animation07 .line_wrapper04 {
  top: 140%;
  left: 45%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper02 0.5s ease-in 2.0s forwards;
}

.animation07 .line04 {
  animation: animation07_line02 0.5s ease-in 1.6s forwards;
}

/*===========
line05
===========*/

.animation07 .rotate-120 {
  display: block;
  position: absolute;
  top: -15.5%;
  left: -34%;
  width: 100%;
  height: 100%;
  transform: rotate(-120deg);
}

.animation07 .line_wrapper05 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line05 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

/*===========
line06
===========*/

.animation07 .rotate-60 {
  display: block;
  position: absolute;
  top: -34.5%;
  left: -3%;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
}

.animation07 .line_wrapper06 {
  top: -78%;
  left: 10%;
  width: 10%;
  height: 60%;
  animation: animation07_line_wrapper01 0.5s ease-in 2.0s forwards;
}

.animation07 .line06 {
  animation: animation07_line01 0.5s ease-in 1.6s forwards;
}

@keyframes animation07_line_wrapper01 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation07_line01 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes animation07_line_wrapper02 {
  0% {
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  100% {  
    transform-origin: bottom;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
}

@keyframes animation07_line02 {
  0% {
    transform-origin: top;
    transform: scale3d(1, 0, 1);
    opacity: 1;
  }
  100% {
    transform-origin: top;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*===================
animation08
====================*/

.animation08 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: cover;
  animation: animation08 1.5s ease-out 2.8s forwards;
  opacity: 0;
}
.animation08 div:nth-of-type(1) {
  width: 100%;
  height: 14.3%;
  background: #03fcb1;
}

.animation08 div:nth-of-type(2) {
  width: 100%;
  height: 14.3%;
  background: #befc03;
}

.animation08 div:nth-of-type(3) {
  width: 100%;
  height: 14.3%;
  background: #fc9d03;
}

.animation08 div:nth-of-type(4) {
  width: 100%;
  height: 14.3%;
  background: #1f90e0;
}
.animation08 div:nth-of-type(5) {
  width: 100%;
  height: 14.3%;
  background: #9e2e6d;
}
.animation08 div:nth-of-type(6) {
  width: 100%;
  height: 14.3%;
  background: #4abd15;
}
.animation08 div:nth-of-type(7) {
  width: 100%;
  height: 14.3%;
  background: #edc913;
}

@keyframes animation08 {
  0% {
    transform: translateY(-200vh);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*===================
mymove
====================*/
.animation08 div .moving-content {
  width: 50%;
  height: 50%;
  background-color: red;
  font-weight: bold;
  position: relative;
  animation: mymove 15s infinite;
  text-align: center;
  vertical-align: center;
}

.animation08 #div1 {
  animation-timing-function: linear;
}
.animation08 #div2 {
  animation-timing-function: ease;
}
.animation08 #div3 {
  animation-timing-function: ease-in;
}
.animation08 #div4 {
  animation-timing-function: ease-out;
}
.animation08 #div5 {
  animation-timing-function: ease-in-out;
}
.animation08 #div6 {
  animation-timing-function: linear;
}
.animation08 #div7 {
  animation-timing-function: ease;
}
.animation08 .moving-content button{
  background-color: rgba(222, 210, 210, 0.2);
  color: black;
  margin: 0;
  width: 90%;
  height: 80%;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 0;
  font-family: "Cambria";
  font-size: 80%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition-duration: 0.4s;
}

.animation08 .moving-content button:hover{
  background-color: #F34DB6; 
}
@keyframes mymove {
  0%   {background-color: #eb4e1e; left:0; top:30%;}
  50.0%  {background-color:#34e3d7; left:50%; top:30%;}
  100.0%  {background-color:#a10880; left: 0; top:30%;}
}